body, html {
    height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%; */
    font: inherit;
    vertical-align: baseline;
}

body {
    background: #ffffff none repeat scroll top left;
    margin: 0;
    padding: 0;
    color: #656565;
    font: normal normal 14px Open Sans, Arial, sans-serif;
    text-align: left;
}

#header-container {
    background: #ffffff;
    color: #fff;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.08);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.08);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    height: 90px;
}

#header-wrapper {
    box-sizing: border-box;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
}

.subheader {
    border-bottom: 1px solid #f3f3f3;
}

.subheader-inner {
    height: 32px;
    width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
}

body * {
    max-height: 9999999em;
    -moz-text-size-adjust: none;
}

.subheader .subheader-left {
    float: left;
}

.subheader .subheader-right {
    float: right;
}

.subheader a {
    color: rgba(0,0,0,.38);
    line-height: 32px;
    font-size: 12px;
}

.subheader-left a {
    padding-right: 6px;
}

.subheader-right a {
    margin-left: 18px;
    padding-right: 6px;
}

.header {
    max-width: 400px;
    float: left;
    margin-right: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.section, .widget {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.header img {
    display: block;
    width: auto;
    margin: 13px 0;
    max-height: 34px;
}

a img {
    border: none;
    border-width: 0;
    outline: none;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}

.header a, .header a:hover {
    color: #000000;
}

.icon_menu, .cssmenu a.closebtn, .dropdown-content .widget-title h3 {
    display: none;
}

a:link {
    
    outline: none;
}

a:visited {
    color: #42b549;
    text-decoration: none;
}

.cssmenu {
    float: left;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cssmenu {
    margin: 0 30px 0 0;
    display: block;
    height: 57px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: 0;
    outline: 0;
    background-color: inherit;
    padding: 0 6px 0 16px;
    margin: 0;
    cursor: pointer;
    position: relative;
}

.dropdown .dropbtn, .cssmenu a {
    float: left;
    padding: 0 17px;
    font: 500 13px Roboto, Arial, sans-serif;
    display: block;
    line-height: 57px;
    text-decoration: none;
    text-transform: none;
    color: #9e9e9e;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dropdown-content {
    padding: 10px 0;
    display: none;
    position: absolute;
    top: 57px;
    background: #fff;
    max-width: 100%;
    border-radius: 0 0 8px 8px;
    min-width: 180px;
    border: 0;
    z-index: 1;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
    transition: all .3s ease-in-out 0s;
}

.icon_menu, .cssmenu a.closebtn, .dropdown-content .widget-title h3 {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h3 {
    font-size: 1.4rem;
}

.list-label {
    margin: 0;
    padding: 0;
}

.dropdown-content .list-label ul {
    overflow: hidden;
    overflow-y: auto;
    max-height: 60vh;
}

.list-label ul {
    margin: 0;
    list-style: none;
}

.widget ul {
    line-height: 1.4em;
}

.dropdown-content .list-label li {
    margin: 0;
}

.list-label li a {
    font-size: 12px;
}

.dropdown-content a {
    line-height: 32px;
    padding: 8px 0 8px 20px;
    float: none;
    display: block;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    border: 0;
    font: 400 12px Open Sans,Arial,sans-serif;
    text-decoration: none;
    color: rgba(0,0,0,.54);
}

.dropdown-content .list-label .label-count {
    padding: 0 20px;
}

.list-label .label-count {
    float: right;
    margin: 0;
}

.dropdown-content .list-label .allProduct {
    text-align: center;
    border-top: 1px solid #f3f3f3;
}

strong, b {
    font-weight: bold;
}

.fa-angle-right {
    font-size: 12px!important;
    color: rgba(0,0,0,.38);
    padding: 3px;
    margin: 0 5px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#menuoverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 9998;
    cursor: pointer;
}

.search-icon {
    position: relative;
    float: left;
    width: 55%;
}

#search_mini_form {
    margin: 13px 0;
}

.input-search {
    padding: 0 8px;
    height: 32px;
    font-size: 12px;
    width: 100%;
    border: 0;
    border-radius: 3px;
    margin: 0 auto;
    box-shadow: 0 0 0 1px #e0e0e0;
}

input {
    outline: none;
    border: none;
}

input, button, select, textarea {
    font: inherit;
    font-size: 100%;
    line-height: normal;
    vertical-align: baseline;
}

.rianseo-tutup {
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-image: url(https://ecs7.tokopedia.net/assets-tokopedia-lite/v2/atreus/production/ecae87fa.svg);
    background-size: 16px;
    background-color: transparent;
    right: 50px;
    top: 50%;
    transform: translateY(-50%) scale(1);
    background-repeat: no-repeat;
    background-position: center center;
    border-width: 0;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    outline: 0;
    transition: transform .32s ease 0s;
}

.button {
    position: absolute;
    top: 13px;
    right: 0;
    width: 40px;
    height: 32px;
    float: right;
    background: #f3f3f3;
    border: 0;
    padding: 4px;
    outline: none;
    cursor: pointer;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

.button i {
    background-image: url(data:image/svg+xml;charset=utf8;base64,IDxzdmcgeG1sbnM9J2h0dHA6Ly93d3cudzMu…UgMS41IDAgMSAxLTIuMTIxIDIuMTInIG1hc2s9J3VybCgjZCknLz48L2c+PC9nPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-size: cover;
    width: 18px;
    height: 18px;
    z-index: 4;
    display: block;
    margin: auto;
}
cite, em, i {
    font-style: italic;
}

.search-content {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 5;
    top: calc(100% - 12px);
    padding-top: 2px;
    background: #fff;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 5px 5px rgba(0,0,0,.08);
}
.section, .widget {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.search-content .widget-title h3 {
    padding: 15px 15px 0 15px;
    font-size: 1.21429rem;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.search-content .cloud-label {
    padding: 20px;
}

.search-content ul {
    max-height: 50vh;
    overflow-y: auto;
    margin: 0;
}

.widget ul {
    line-height: 1.4em;
}

.search-content li {
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    border-radius: 16px;
    list-style: none;
    float: left;
    margin: 0 8px 8px 0;
    color: #42b549;
    border: 1px solid #42b549;
    line-height: 1.2;
    display: block;
}

.search-content li a {
    display: inline-block;
    padding: 6px 8px;
    color: rgb(66, 181, 73);
}

.link-right {
    float: right;
}

.toko-profil {
    float: left;
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-top: 5px;
    margin-right: 10px;
}

.link-right .widget-title h3 {
    display: none;
}

.toko-profil a {
    padding: 0!important;
    color: #9e9e9e;
    transition: all .3s ease;
}

.link-right a {
    padding: 11px 10px;
    color: #9e9e9e;
    line-height: 60px;
}

.link-right .toko-profil img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 0;
    transition: all .3s ease;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}
a img {
    border: none;
    border-width: 0;
    outline: none;
}
table, img {
    max-width: 100%;
    height: auto;
}

.toko-profil ul.dropdown {
    visibility: hidden;
    opacity: 0;
    background-color: #fff;
    right: 0px;
    top: 75%;
    margin: 0;
    position: absolute;
    z-index: 3;
    transform: translateY(-2em);
    transition: all .3s ease;
    z-index: 1;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
}

.widget ul {
    line-height: 1.4em;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.toko-profil ul.dropdown li {
    margin: 0;
    transition: all .3s ease;
}

.link-right li {
    list-style: none;
    float: left;
    margin: 0;
    font-size: 13px;
}

.toko-profil ul.dropdown li a {
    font: 400 12px Open Sans,Arial,sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: rgba(0,0,0,.54);
    display: block;
    padding: 5px 20px!important;
    line-height: 26px;
    max-width: 100%;
    min-width: 150px;
}
.toko-profil a {
    padding: 0!important;
    color: #9e9e9e;
    transition: all .3s ease;
}

.icon-envelope {
    background-image: url(data:image/svg+xml;charset=utf8;base64,IDxzdmcgd2lkdGg9JzI0JyBoZWlnaHQ9JzI0…IgMiAwIDAgMC0yLTJINGEyIDIgMCAwIDAtMiAydjJsMTAgNHonLz48L2c+PC9nPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    vertical-align: -5px;
}

.clear {
    clear: both;
}

.clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

